<?xml version="1.0" encoding="UTF-8"?>
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  
  <bean id="abean" class="springTrialPackage.Address">
  <constructor-arg value="Montreal"></constructor-arg>
  <constructor-arg value="Rue Guy"></constructor-arg>
  </bean> 
  
  <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
            <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
            <property name="url" value="jdbc:mysql://127.0.0.1:3306/emaildb"/>
            <property name="username" value="root"/>
            <property name="password" value="root"/>
        </bean>

 <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
    <property name="dataSource" ref="dataSource"/>
</bean>
<bean id="namedJdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
<constructor-arg ref="dataSource"/>
</bean>
  <bean id="adminDao1" class="DAO_package.adminDAO_impl">
  <constructor-arg value="10" type="int"></constructor-arg>
  <property name="jdbcTemplate" ref="jdbcTemplate"></property>
  <property name="namedJdbcTemplate" ref="namedJdbcTemplate"></property>
  </bean>
  <bean id="adminService" class="Service_Package.adminService_impl">
  <property name="dao" ref="adminDao1"></property>
  </bean>
  <bean id="stuDao" class="DAO_package.StudentDao_impl">
  </bean>
  <bean id="stuService" class="Service_Package.StudentService_impl">
  <property name="dao" ref="stuDao"></property>
  </bean>
  
  <bean id="mailDao" class="DAO_package.ComposeDAO_impl">
  <property name="jdbcTemplate" ref="jdbcTemplate"/>
  </bean>
  
  
  <bean id="mailService" class="Service_Package.ComposeService_impl">
  <property name="cDao" ref="mailDao"></property>
  </bean>
  
<bean id="studentbean" class="springTrialPackage.Student">  
<constructor-arg value="Ash;)"></constructor-arg> 
<constructor-arg>
<ref bean="abean"/>
</constructor-arg>
</bean>  

  
  
</beans>